code_path_extra_dirs:
    - _build/default/lib/*/ebin
    - _build/test/lib/*/ebin
    - _build/test/lib/*/test
code_reload:
    node: fix
deps_dirs:
    - _checkouts/*
    - _build/default/lib/*
    - _build/test/lib/*
diagnostics:
    enabled:
        - crossref
elvis_config_path: ./elvis.config
include_dirs:
    - include
    - _checkouts/
    - _build/default/lib
    - _build/default/lib/*/include
plt_path: _build/default/rebar3_23.3.4.2_plt
runtime:
    cookie: fix
    use_long_names: true
exclude_unused_includes:
  - eunit/include/eunit.hrl
  - log.hrl
