{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.

{erl_opts,
 [
   warn_unused_vars,
   warn_export_all,
   warn_shadow_vars,
   warn_unused_import,
   nowarn_unused_function,
   warn_bif_clash,
   warn_unused_record,
   warn_deprecated_function,
   warn_obsolete_guard,
   strict_validation,
   warn_export_vars,
   warn_exported_vars,
%   warn_missing_spec,
%   warn_untyped_record,
%   warnings_as_errors,
   debug_info
 ]
}.

{deps, [ {ranch, "1.7.1"} ]}.

{profiles,
    [{test,
         [{deps,
              [meck]},
          {erl_opts,
              [nowarn_export_all,
               debug_info,
               nowarn_missing_spec,
               nowarn_unused_vars
               ]
          }
         ]
     }
    ]
}.
